Repository HangfireIO/Hangfire, pull requests merged in 2018-03, with the labels that each got.

#898 Add migration for Hangfire.SqlServer 1.7.0
  src/Hangfire.SqlServer.Msmq/MsmqJobQueueMonitoringApi.cs
  src/Hangfire.SqlServer/CountersAggregator.cs
  src/Hangfire.SqlServer/DefaultInstall.sql
  src/Hangfire.SqlServer/EnqueuedAndFetchedCountDto.cs
  src/Hangfire.SqlServer/ExpirationManager.cs
  src/Hangfire.SqlServer/IPersistentJobQueueMonitoringApi.cs
  src/Hangfire.SqlServer/Install.sql
  src/Hangfire.SqlServer/SqlServerConnection.cs
  src/Hangfire.SqlServer/SqlServerJobQueueMonitoringApi.cs
  src/Hangfire.SqlServer/SqlServerMonitoringApi.cs
  src/Hangfire.SqlServer/SqlServerObjectsInstaller.cs
  src/Hangfire.SqlServer/SqlServerTimeoutJob.cs
  src/Hangfire.SqlServer/SqlServerWriteOnlyTransaction.cs
  tests/Hangfire.SqlServer.Msmq.Tests/MsmqJobQueueFacts.cs
  tests/Hangfire.SqlServer.Msmq.Tests/MsmqJobQueueMonitoringApiFacts.cs
  tests/Hangfire.SqlServer.Tests/ExpirationManagerFacts.cs
  tests/Hangfire.SqlServer.Tests/SqlServerConnectionFacts.cs
  tests/Hangfire.SqlServer.Tests/SqlServerJobQueueFacts.cs
  tests/Hangfire.SqlServer.Tests/SqlServerWriteOnlyTransactionFacts.cs
Labels: a: sql-server, breaking, t: enhancement

#974 Support async jobs returning ValueTask<T>
  src/Hangfire.Core/Server/CoreBackgroundJobPerformer.cs
  tests/Hangfire.Core.Tests/Common/JobFacts.cs
  tests/Hangfire.Core.Tests/Hangfire.Core.Tests.project.json
  tests/Hangfire.Core.Tests/Server/CoreBackgroundJobPerformerFacts.cs
Labels: a: core, t: enhancement

#1055 Add details to Build instructions
  README.md
Labels: a: project, t: enhancement

#800 Fix issue with configuration block not called on .NET Core + reuse services
  src/Hangfire.AspNetCore/Dashboard/AspNetCoreDashboardContext.cs
  src/Hangfire.AspNetCore/HangfireApplicationBuilderExtensions.cs
  src/Hangfire.AspNetCore/HangfireServiceCollectionExtensions.cs
  src/Hangfire.Core/BackgroundJobServer.cs
  src/Hangfire.Core/Dashboard/DashboardContext.cs
  src/Hangfire.Core/Dashboard/DashboardRoutes.cs
  src/Hangfire.Core/Dashboard/RouteCollectionExtensions.cs
Labels: a: dotnetcore, t: bug

#1152 Provide IntValue for all metrics
  src/Hangfire.Core/Dashboard/DashboardMetrics.cs
  src/Hangfire.Core/Dashboard/Metric.cs
  src/Hangfire.SqlServer/SqlServerStorage.cs
Labels: a: dashboard, t: bug
