Repository HangfireIO/Hangfire, pull requests merged in 2019-10, with the labels that each got.

#1531 Permit dashes in SchemaName
  src/Hangfire.SqlServer/SqlServerTimeoutJob.cs
Labels: a: sql-server, t: bug

#1532 Use schema from constant in tests
  tests/Hangfire.SqlServer.Tests/CountersAggregatorFacts.cs
  tests/Hangfire.SqlServer.Tests/ExpirationManagerFacts.cs
  tests/Hangfire.SqlServer.Tests/SqlServerConnectionFacts.cs
  tests/Hangfire.SqlServer.Tests/SqlServerJobQueueFacts.cs
  tests/Hangfire.SqlServer.Tests/SqlServerTimeoutJobFacts.cs
  tests/Hangfire.SqlServer.Tests/SqlServerWriteOnlyTransactionFacts.cs
Labels: a: project, t: enhancement

#1527 Add GetInstallScript method
  src/Hangfire.SqlServer/SqlServerObjectsInstaller.cs
Labels: a: sql-server, t: enhancement

#1526 minor changes in readme.md
  README.md
Labels: a: project, t: enhancement

#1523 Supplementary Chinese Translation
  src/Hangfire.Core/Dashboard/Content/resx/Strings.zh.resx
Labels: a: dashboard, t: i18n

#1231 Allow modification of the dashboard title
  src/Hangfire.Core/Dashboard/Pages/LayoutPage.cshtml
  src/Hangfire.Core/DashboardOptions.cs
  tests/Hangfire.Core.Tests/Dashboard/DashboardOptionsFacts.cs
  tests/Hangfire.Core.Tests/Hangfire.Core.Tests.csproj
Labels: a: dashboard, t: enhancement

#1545 Add HTML tags on Dashboard title
  src/Hangfire.Core/Dashboard/Pages/LayoutPage.cshtml
Labels: a: dashboard, t: enhancement
