Repository HangfireIO/Hangfire, pull requests merged in 2019-05, with the labels that each got.

#1424 fix minor bug in DefaultInstall.sql
  src/Hangfire.SqlServer/DefaultInstall.sql
  src/Hangfire.SqlServer/Install.sql
Labels: a: sql-server, t: bug

#1432 Added Cron.Never()
  src/Hangfire.Core/Cron.cs
  tests/Hangfire.Core.Tests/CronFacts.cs
Labels: a: core, t: enhancement

#1443 dashboard localization support in pt-BR
  src/Hangfire.Core/Dashboard/Content/resx/Strings.pt-BR.resx
Labels: a: dashboard, t: i18n
