Repository HangfireIO/Hangfire, pull requests merged in 2019-01, with the labels that each got.

#1325 Add connection factory overload for SqlServerStorage
  src/Hangfire.SqlServer/SqlServerStorage.cs
  src/Hangfire.SqlServer/SqlServerStorageExtensions.cs
  tests/Hangfire.SqlServer.Tests/SqlServerStorageFacts.cs
Labels: a: sql-server, t: enhancement

#1251 Adding GetFirstByLowestScoreFromSet overload
  src/Hangfire.Core/Storage/IStorageConnection.cs
  src/Hangfire.Core/Storage/JobStorageConnection.cs
  src/Hangfire.SqlServer/SqlServerConnection.cs
  tests/Hangfire.SqlServer.Tests/SqlServerConnectionFacts.cs
Labels: a: core, t: enhancement

#1329 Fix to ensure Form values are properly returned
  src/Hangfire.Core/Dashboard/Owin/OwinDashboardRequest.cs
  src/Hangfire.Core/Dashboard/Owin/OwinRequestExtensions.cs
  src/Hangfire.Core/Hangfire.Core.csproj
Labels: a: dashboard, t: enhancement

#1315 Replace Rickshaw with Chart.js
  NOTICES
  src/Hangfire.Core/Dashboard/Content/css/rickshaw.min.css
  src/Hangfire.Core/Dashboard/Content/js/Chart.min.js
  src/Hangfire.Core/Dashboard/Content/js/chartjs-plugin-streaming.min.js
  src/Hangfire.Core/Dashboard/Content/js/d3.layout.min.js
  src/Hangfire.Core/Dashboard/Content/js/d3.min.js
  src/Hangfire.Core/Dashboard/Content/js/hangfire.js
  src/Hangfire.Core/Dashboard/Content/js/rickshaw.min.js
  src/Hangfire.Core/Dashboard/Content/resx/Strings.resx
  src/Hangfire.Core/Dashboard/DashboardRoutes.cs
  src/Hangfire.Core/Dashboard/Pages/HomePage.cshtml
  src/Hangfire.Core/Dashboard/Pages/HomePage.cshtml.cs
  src/Hangfire.Core/Dashboard/Pages/LayoutPage.cshtml
  src/Hangfire.Core/Dashboard/Pages/LayoutPage.cshtml.cs
  src/Hangfire.Core/Hangfire.Core.csproj
Labels: a: dashboard, t: enhancement

#1330 Optimize implementation of the DelayedJobScheduler class
  src/Hangfire.Core/Server/DelayedJobScheduler.cs
  tests/Hangfire.Core.Tests/Server/DelayedJobSchedulerFacts.cs
Labels: a: core, t: enhancement

#1331 Batch support for AddToQueue method when default queue provider is used
  src/Hangfire.SqlServer/SqlServerWriteOnlyTransaction.cs
  tests/Hangfire.SqlServer.Tests/SqlServerWriteOnlyTransactionFacts.cs
Labels: a: sql-server, t: enhancement

#1334 Optimize implementation of recurring jobs
  src/Hangfire.Core/BackgroundJobServer.cs
  src/Hangfire.Core/RecurringJobEntity.cs
  src/Hangfire.Core/RecurringJobExtensions.cs
  src/Hangfire.Core/RecurringJobManager.cs
  src/Hangfire.Core/Server/EveryMinuteThrottler.cs
  src/Hangfire.Core/Server/IThrottler.cs
  src/Hangfire.Core/Server/RecurringJobScheduler.cs
  tests/Hangfire.Core.Tests/RecurringJobManagerFacts.cs
  tests/Hangfire.Core.Tests/Server/RecurringJobSchedulerFacts.cs
Labels: a: core, t: enhancement

#631 Add possibility to detect aborted requests in Dashboard UI
  src/Hangfire.AspNetCore/Dashboard/AspNetCoreDashboardRequest.cs
  src/Hangfire.Core/Dashboard/BatchCommandDispatcher.cs
  src/Hangfire.Core/Dashboard/DashboardRequest.cs
  src/Hangfire.Core/Dashboard/Owin/OwinDashboardRequest.cs
Labels: a: dashboard, in progress, t: enhancement
