Repository HangfireIO/Hangfire, pull requests merged in 2022-05, with the labels that each got.

#2011 Remove dependency on System.Data.SqlClient for Hangfire.SqlServer
  src/Hangfire.SqlServer/Hangfire.SqlServer.csproj
  src/Hangfire.SqlServer/SqlCommandBatch.cs
  src/Hangfire.SqlServer/SqlCommandSet.cs
  src/Hangfire.SqlServer/SqlServerStorage.cs
  src/Hangfire.SqlServer/SqlServerStorageOptions.cs
  tests/Hangfire.SqlServer.Tests/SqlServerStorageFacts.cs
Labels: a: sql-server, t: enhancement

#2040 Delete the now unused _microsoftDataSqlClientType field
  src/Hangfire.SqlServer/SqlServerStorage.cs
Labels: t: bug, a: sql-server

#2038 Update moment-with-locales.min.js
  src/Hangfire.Core/Dashboard/Content/js/moment-with-locales.min.js
Labels: t: bug, a: dashboard
